// let's start from scratch

$main_color: red;
$highlight_color: green;

h1 {
    color: $main_color;
}
h2 {
    color: $main_color;
}

section {
    // border-bottom-width: 1px;
    // border-bottom-style: solid;
    // border-bottom-color: $highlight_color;
    border-bottom: 1px solid $highlight_color;
}

.shadowed {
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.63);
}

p {
    line-height: 2em;
    margin: 1em;
    padding: 1em;
    @extend .shadowed;
}
img {
    display: inline-block;
    border: 1px solid #cccccc;
    @extend .shadowed;
}


section.first { // all following style change something within the section.first
    a { // links within the section.first
        text-decoration: none;
    }
    p { // paragraphs within the section.first
        background-color: #e0e0e0;
        a { // links within paragraphs within the section.first
            color: $highlight_color;
        }
    }
}

section {
    // styles here would affect all sections
    &.first {
        // styles here affect only section.first
        border: 1px solid red;
    }
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

section.responsive {
    display: flex;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    @media screen and (max-width: 400px) {
        background: red;
    }

    div {
        flex-grow: 1;
        background-color: #efefef;
        border: 1px solid #999999;
        min-height: 200px;
        min-width: 200px;
        margin: 0.5em;

        @media screen and (max-width: 400px) {
            background: yellow;
        }
    }
}

