$headline_color: beige;

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: $headline_color;
}
h2 {
    color: $headline_color;
}


// 1000 lines here


// another 1000 lines


h3 {
    color: $headline_color;
}