html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: flex-start;
}

.photo {
    /* float: left; */
    margin: 0 1em 1em 0;
    width: 6em;
}

.status span {
    font-weight: bold;
}
.status span.single {
    color: green;
}
.status span.in-relationship {
    color: red;
}

ul.list {
    line-height: 2em;
}
ul.list li {
    list-style-type: none;
}
ul.list li a {
    text-decoration: none;
}
ul.list li:hover {
    background-color: #efefef;
}
ul.list img {
    height: 2em;
    vertical-align: middle;
}